<h1>Welcome to the longest word game!</h1>
<p>First pick a number for the ammount of letters you want: </p>
<form action="/game">
  <label for="grid_size">Letters!</label>
  <input type="text" id="grid_size" name="grid" placeholder="ex: 5">
  <input type="submit" value="Give me a grid!">
</form>
